
{% extends "base.html" %}
{% block content %}

<!--A: Kundeliste -->

<div class="container mt-4 table-responsive">
    <h2 class="text-center my-3">Kundeliste</h2>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>KundeNr</th>
                <th>Navn</th>
                <th>E-post</th>
                <th>Mobil</th>
                <th>Faktura Adresse</th>
                <th>Leverings Adresse</th>
            </tr>
        </thead>
        <tbody>
            {% for kunde in kunder %}
            <tr>
                <td>{{ kunde.kundenr }}</td>
                <td>{{ kunde.navn }}</td>
                <td>{{ kunde.epost }}</td>
                <td>{{ kunde.mobil }}</td>
                <td>{{ kunde.fakt_adresse }}</td>
                <td>{{ kunde.levering_adresse }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!--B: Aktive utleier -->

<div class="container mt-4 table-responsive">
    <h2 class="text-center my-3">Aktive utleier for {{kundebehandler_navn}}</h2>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>UtleidDato</th>
                <th>InlevertDato</th>
                <th>UtstyrsId</th>
                <th>UtstyrsMerke</th>
                <th>UtstyrsModell</th>
                <th>UtstyrsType</th>
            </tr>
        </thead>
        <tbody>
            {% for utleie in aktive_utleier %}
            <tr>
                <td>{{ utleie.UtleidDato }}</td>
                <td>{{ utleie.InlevertDato}}</td>
                <td>{{ utleie.UtstyrsId }}</td>
                <td>{{ utleie.UtstyrsMerke }}</td>
                <td>{{ utleie.UtstyrsModell }}</td>
                <td>{{ utleie.UtstyrsType }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!--C:Komplette utleier-->
<div class="container mt-4 table-responsive">
    <h2 class="text-center my-3">Komplette utleier i perioden 2019-01-01 til 2020-02-10</h2>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Antall komplette Utleier</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ antall_komplette_utleier }}</td>

            </tr>
        </tbody>
    </table>
</div>

<!--D: Innetekt per Utstyr-->
<div class="container mt-4 table-responsive">
    <h2 class="text-center my-3">Inntekt per Utstyr</h2>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>UtstyrId</th>
                <th>Sum per Utstyr</th>
                <th>UtstyrsMerke</th>
                <th>UtstyrsModell</th>
                <th>UtstyrsType</th>
            </tr>
        </thead>
        <tbody>
            {% for utstyr in utstyrer %}
            <tr>
                <td>{{ utstyr.UtstyrId }}</td>
                <td>{{ utstyr.SumPerUtstyr}}</td>
                <td>{{ utstyr.UtstyrsMerke }}</td>
                <td>{{ utstyr.UtstyrsModell }}</td>
                <td>{{ utstyr.UtstyrsType }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!--E: Mest utleid utstyr-->

<div class="container mt-4 table-responsive">
    <h2 class="text-center my-3">Mest utleid utstyr</h2>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Antall ganger utleid</th>
                <th>UtstyrsMerke </th>
                <th>UtstyrsModell</th>
                <th>UtstyrsType</th>
                <th>UtstyrsKategori</th>
            </tr>
        </thead>
        <tbody>
            {% for utstyr in flest_utleid_utstyrer %}
            <tr class="{% if utstyr.antall_ganger_utleid == flest_antall %}table-warning{% else %}table-light{% endif %}">
                <td>{{ utstyr.antall_ganger_utleid }}</td>
                <td>{{ utstyr.utstyrs_merke}}</td>
                <td>{{ utstyr.utstyrs_modell }}</td>
                <td>{{ utstyr.utstyrs_type }}</td>
                <td>{{ utstyr.utstyrs_kat }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}


<!-- Bruk SQL sporringer som er allerede laget-->

<!--A: Kundeliste
    *Vis som tabell i web-->

<!-- Implemented: B: Aktive utleier
    *"Ikke innlevert"
    *Filtrer på inlogget ansatt-->

<!-- Implemented: C: Statistikk
    *Antall komplette utleier i valgt periode
    (kan være hardkodet periode)-->


<!--Implemented: D: Inntekt per utstyr
    *Vis som liste/tabell
    *sorter synkende -->


<!--E: Mest utleid utstyr
    *Highlight toppresultatet-->