{% extends "base.html" %}
{% block content %}

<div class="container mt-4 text-center">
    <h2 class="text-center">Utstyr Liste</h2>

        <form method="POST" novalidate>
            {{ form.hidden_tag()}}
            <div class="row">
                <div class="col">
                    {{ form.utstyr_type.label }}
                    {{ form.utstyr_type(class="form-select") }}
                    </select>
                </div>
                <div class="col">
                    {{ form.kategori.label }}
                    {{ form.kategori(class="form-select") }}
                </div>
                <div class="col">
                {{ form.filter(class="btn btn-lg btn-outline-dark ")}}
                </div>
        </div>
    </form>
    <p></p>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Utstyr Id</th>
                <th>Utstyrs Type</th>
                <th>Utstyrs Merke</th>
                <th>Utstyrs Modell</th>
                <th>Beskrivelse</th>
                <th>Utstyrs Kategori</th>
                <th>Leie pris per døgn</th>
                <th>Antall utstyr</th>
                <th>Antall på lager</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for utstyr in utstyrer %}
            <tr>
                <td>{{ utstyr.utstyr_id }}</td>
                <td>{{ utstyr.utstyrs_type }}</td>
                <td>{{ utstyr.utstyrs_merke }}</td>
                <td>{{ utstyr.utstyrs_modell }}</td>
                <td>{{ utstyr.beskrivelse }}</td>
                <td>{{ utstyr.utstyrs_kategori}}</td>
                <td>{{ utstyr.leie_pris_døgn}}</td>
                <td>{{ utstyr.antall_utstyr}}</td>
                <td>{{ utstyr.antall_på_lager}}</td>
                <td>{% if utstyr.utstyr_id in tilgjengelig %} 
                    Tilgjengelig 
                    {% else %} Utleid {% endif %}</td>
                {% endfor %}
            </tr>
            
        </tbody>
    </table>
</div>

<!--Implemented: liste over alt utstyr-->
<!--Implemented: Filtrere på:
            *Type
            *Kategori   -->
<!--Implemented: Se status
    *tilgjengelig/utleid -->

{% endblock %}