{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
    <h2 class="text-center">Utstyr Listen</h2>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>UtstyrId</th>
                <th>UtstyrsType</th>
                <th>UtstyrsMerke</th>
                <th>UtstyrsModell</th>
                <th>Beskrivelse</th>
                <th>UtstyrsKategori</th>
                <th>Leie pris per døgn</th>
                <th>Antall utstyr</th>
                <th>Antall på lager</th>
            </tr>
        </thead>
        <tbody>
            {% for utstyr in utstyrer %}
            <tr>
                <td>{{ utstyr.utstyr_id }}</td>
                <td>{{ utstyr.utstyrs_type }}</td>
                <td>{{ utstyr.utstyrs_merke }}</td>
                <td>{{ utstyr.utstyrs_modell }}</td>
                <td>{{ utstyr.beskrivelse }}</td>
                <td>{{ utstyr.utstyrs_kategori}}</td>
                <td>{{ utstyr.leie_pris_døgn}}</td>
                <td>{{ utstyr.antall_utstyr}}</td>
                <td>{{ utstyr.antall_på_lager}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- liste over alt utstyr-->
<!--Filtrere på:
            *Type
            *Kategori   -->
<!-- Se status
    *tilgjengelig/utleid -->

{% endblock %}