{% extends "base.html" %}
{% block content %}

<!-- Everthing here should technically work but needs the database fuctions to be done-->
<div class="container mt-4">
    <h2>{{ 'Oppdatere' if kunde else 'Legge til' }} Kunde</h2>

    {% if error %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
    {% endif %}

    <form method="POST">
        <div class="mb-3">
            <label for="kundenr" class="form-label">KundeNr</label>
            <input type="text" class="form-control" id="kundenr" name="kundenr" value="{{ kunde.kundenr if kunde else '' }}" {% if kunde %}readonly{% endif %}>
        </div>

        <div class="mb-3">
            <label for="kundetype" class="form-label">Kundetype</label>
                <select class="form-control" id="kundetype" name="kundetype">
                    <option value="privat" {% if kunde and kunde.kundetype == 'privat' %}selected{% endif %}>Privat</option>
                    <option value="bedrift" {% if kunde and kunde.kundetype == 'bedrift' %}selected{% endif %}>Bedrift</option>
                </select>
        </div>

        <div class="mb-3">
            <label for="fornavn" class="form-label">Fornavn</label>
            <input type="text" class="form-control" id="fornavn" name="fornavn" value="{{ kunde.fornavn if kunde else '' }}">
        </div>

        <div class="mb-3">
            <label for="etternavn" class="form-label">Etternavn</label>
            <input type="text" class="form-control" id="etternavn" name="etternavn" value="{{ kunde.etternavn if kunde else '' }}">
        </div>

        <div class="mb-3">
            <label for="kundenavn" class="form-label">Bedriftsnavn</label>
            <input type="text" class="form-control" id="kundenavn" name="kundenavn" value="{{ kunde.kundenavn if kunde else '' }}">
        </div>

        <div class="mb-3">
            <label for="epost" class="form-label">Epost</label>
            <input type="email" class="form-control" id="epost" name="epost" value="{{ kunde.epost if kunde else '' }}">
        </div>

        <div class="mb-3">
            <label for="mobil" class="form-label">Mobil</label>
            <input type="text" class="form-control" id="mobil" name="mobil" value="{{ kunde.mobil if kunde else '' }}">
        </div>

        <div class="mb-3">
            <label for="fakt_adresse" class="form-label">Faktura Adresse</label>
            <input type="text" class="form-control" id="fakt_adresse" name="fakt_adresse" value="{{ kunde.fakt_adresse if kunde else '' }}">
        </div>

        <div class="mb-3">
            <label for="levering_adresse" class="form-label">Levering Adresse</label>
            <input type="text" class="form-control" id="levering_adresse" name="levering_adresse" value="{{ kunde.levering_adresse if kunde else '' }}">
        </div>

        <button type="submit"   class="btn btn-primary">{{'Oppdatere' if kunde else 'Legge til'}} Kunde</button>
    </form>
</div>
{% endblock %}