

{% extends "base.html" %}
{% block content %}

<div class="contianer mt-4">
    <h2>Legge til utleie</h2>
    
    {% if error %}
    <div class="alert alert-danger">
    {{ error }}
    </div>
    {% endif %}
    
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="mb-3">
            {{ form.slutt_dato.label }}
            {{ form.slutt_dato(class="form-control") }}
        </div>

        <button type="submit"   class="btn btn-primary">Oppdater Utleie</button>
    </form>
</div>

{% endblock %}
