
{% extends "base.html" %}
{% block content %}

<div class="contianer m-4">
    <h2 class="text-center">Legge til utleie</h2>
    
    {% if error %}
    <div class="alert alert-danger">
    {{ error }}
    </div>
    {% endif %}
    
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="my-3 mx-5">
            {{ form.avail_utstyr.label }}
            {{ form.avail_utstyr(class="form-select") }}
        </div>
        <div class="my-3 mx-5">
            {{ form.kunde_nr.label }}
            {{ form.kunde_nr(class="form-select") }}
        </div>
        <div class="my-3 mx-5">
            {{ form.start_dato.label }}
            {{ form.start_dato(class="form-control") }}
        </div>
        <div class="my-3 mx-5">
            {{ form.leveres_kunde.label }}
            {{ form.leveres_kunde(class="form-select") }}
        </div>
        <div class="my-3 mx-5">
            {{ form.betalings_måte.label }}
            {{ form.betalings_måte(class="form-select") }}
        </div>
        <div class="text-center">
            <button type="submit"   class="btn btn-primary">Legge til</button>
        </div>
    </form>
</div>
{% endblock %}
