
{% extends "base.html" %}
{% block content %}

<div class="contianer m-4">
    <h2 class="text-center">Legge til utleie</h2>
    
    {% if error %}
    <div class="alert alert-danger">
    {{ error }}
    </div>
    {% endif %}
    
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="my-3 mx-5">
            {{ form.avail_utstyr.label }}
            {{ form.avail_utstyr(class="form-select") }}
        </div>
        <div class="my-3 mx-5">
            {{ form.kunde_nr.label }}
            {{ form.kunde_nr(class="form-select") }}
        </div>
        <div class="my-3 mx-5">
            {{ form.start_dato.label }}
            {{ form.start_dato(class="form-control") }}
        </div>
        <div class="my-3 mx-5">
            <label for="leveres_kunde" class="form-label">Leveres til kunde?</label>
                <select class="form-control" id="leveres_kunde" name="leveres_kunde">
                    <option value="Ja" >Ja</option>
                    <option value="Nei" >Nei</option>
                </select>
        </div>       
        <div class="my-3 mx-5">
            <input type="number" placeholder="Leveringskostnad" 
            name="leveringskostnad" id="leveringskostnad" class="form-control" min="0">
        </div>
        <div class="my-3 mx-5">
            {{ form.betalings_måte.label }}
            {{ form.betalings_måte(class="form-select") }}
        </div>
        <div class="text-center">
            <button type="submit"   class="btn btn-primary">Legge til</button>
        </div>
    </form>

    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const leveres_kunde = document.getElementById("leveres_kunde");
        const leveringskostnad = document.getElementById("leveringskostnad");


        function update_leveringskostnad_state() {
            if (leveres_kunde.value === "Nei") {
                // Nei → lock leveringskostnad
                leveringskostnad.disabled = true;
                leveringskostnad.value = 0

            }
            else {
              // Ja → unlock leveringskostnad
                leveringskostnad.disabled = false;
            }
        }

        // intially set the state of kundenavn based on the current kundetype value
        update_leveringskostnad_state();

        // add event listener to update the state of kundenavn when kundetype changes
        leveres_kunde.addEventListener("change", update_leveringskostnad_state);
    });
    </script>
</div>




    {% endblock %}