{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
    <h2 class="text-center">Utleie</h2>
    <a href="{{ url_for('utleie.add_utleie') }}" class="btn btn-success mb-3">Oppret Ny Utleie</a> 
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Utleie Id</th>
                <th>Utstyrs Id</th>
                <th>Instans Id</th>
                <th>KundeNr</th>
                <th>Utleid Dato</th>
                <th>Innlevert Dato</th>
                <th>Kundebehandler</th>
                <th>Leveres Kunde</th>
                <th>Betalingsmåte</th>
                <th>Leveringskostnad</th>
                <th>Total pris</th>                

            </tr>
        </thead>
        <tbody>
            {% for utleie in utleier %}
            <tr>
                <td>{{ utleie.utleie_id }}</td>
                <td>{{ utleie.utstyrs_id }}</td>
                <td>{{ utleie.instans_id }}</td>
                <td>{{ utleie.kunde_nr }}</td>
                <td>{{ utleie.utleid_dato }}</td>
                <td>{% if utleie.innlevert_dato == "Ikke levert" %} 
                    <a href="{{ url_for('utleie.edit_innlevert_utleie', utleie_id=utleie.utleie_id) }}" class="btn btn-warning btn-sm">Oppdater Innlevert dato</a> 
                    {% else %} {{ utleie.innlevert_dato}} {% endif %}</td>
                <td>{{ utleie.kundebehandler}}</td>
                <td>{{ utleie.leveres_kunde }}</td>
                <td>{{ utleie.betalingsmåte}}</td>
                <td>{{ utleie.leverings_kostnad }}</td>
                <td>{{ utleie.total_pris}}</td>                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Registrere utleie
    *Velg kunde
    *Velg Utstyr(kun tilgjengelig)
    *Sett dato
    *Automatisk registrer hvilken ansatt som ekspederer-->

<!--Registrer innlevering
    *Marker utleie som levert
    *Sett innleveringsdato  -->

{% endblock %}