{% extends "base.html" %}

{% block content %}
<h1>Dashboard</h1>

<p>Aktive utleier: {{ aktive_utleier }}</p>
<p>Tilgjengelig utstyr: {{ tilgjengelig_utstyr }}</p>

<h2>Siste utleier</h2>

<table>
    <tr>
        <th>UtleieId</th>
        <th>UtstyrId</th>
        <th>KundeNr</th>
        <th>UtleidDato</th>
        <th>InnlevertDato</th>
    </tr>

    {% for utleie in siste_utleier %}
    <tr>
        <td>{{ utleie.UtleieId }}</td>
        <td>{{ utleie.UtstyrId }}</td>
        <td>{{ utleie.KundeNr }}</td>
        <td>{{ utleie.UtleidDato }}</td>
        <td>{{ utleie.InnlevertDato }}</td>
    </tr>
    {% endfor %}
</table>

<h2>TEST CHANGE</h2>


{% endblock %}

