{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2>Registrer</h2>
    
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form action="{{ url_for('users.register') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-group">
            <label for="id">Id:</label>
            <input type="number" name="id" id="id" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="fornavn">Fornavn:</label>
            <input type="text" name="fornavn" id="fornavn" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="etternavn">Etternavn:</label>
            <input type="text" name="etternavn" id="etternavn" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="email">Epost:</label>
            <input type="email" name="email" id="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password">Passord:</label>
            <input type="password" name="password" id="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Passordet må inneholde minst en stor bokstav, en liten bokstav og et syfer, og minst 8 eller mer karakterer" required>
        </div>
        <div class="form-group">
            <label for="confirm_password">Bekrefter passord:</label>
            <input type="password" name="confirm_password" id="confirm_password" class="form-control" required>
        </div>
        <div class="text-center my-3"><button type="submit" name="register" value="Register" class="btn btn-primary">Registrer</button></div>
    </form>
    <p>Har du allerede en konto? <a href="{{ url_for('users.login') }}">Logg inn</a></p>
</div>

{% endblock %}